<nav class="mb-1 navbar navbar-expand-lg navbar-dark red darken-3">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link waves-effect waves-light text-white" href="/"><b>Home</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light text-dark" href="/sports">Sports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light text-dark" href="/tech">Tech</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light text-dark" href="/ent">Entertainment</a>
            </li>
    
        </ul>
           
    </div>
</nav>